<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a href="{{ url_for('bp_professor.PgProf') }}" class="nav-link">Página Inicial</a></li>
            <li class="nav-item active"><a href="{{ url_for('bp_cad.CadEmp') }}" class="nav-link">Cadastrar Empréstimo</a></li>
            <li class="nav-item active"><a href="{{ url_for('bp_cad.CadLi') }}" class="nav-link">Cadastrar Livro</a></li>
            <li class="nav-item active"><a href="{{ url_for('bp_cad.CadastroProf') }}" class="nav-link">Cadastro Professor</a></li>
            <li class="nav-item"><a href="{{ url_for('bp_login.Logout') }}" class="nav-link">Logout</a></li>
        </ul>
    </div>
</nav>
